# Build
build/
coverage/

# Testes
jest*.json
*.test.ts
*.spec.ts

# Logs locais
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor temporários
*.swp
*.swo
*.bak

# Prisma (se estiver usando)
prisma/migrations/
