# Build
dist/
build/
coverage/

# Arquivos de ambiente
.env
.env.*

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.sqlite
*.db
*.sqlite

# Testes (mantenha os arquivos .spec.ts versionados!)
jest*.json
# Removido: *.test.ts e *.spec.ts (esses DEVEM ser versionados)

# Logs locais
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos temporários de editor
*.swp
*.swo
*.bak
*.tmp

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
